@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes erase {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .dynamic-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid; /* Esto simula el cursor de tipeo */
    width: 0;
    animation: typing 2s steps(10) 1s forwards, erase 2s steps(10) 5s forwards;
  }